{% from "input/macro.njk" import govukInput %}

{% set pageHeading = params.pageHeading %}
{% set isQuestionPage = params.isQuestionPage %}
{% set errors = params.errors %}
{% set email = params.email %}
{% set emailHint = params.emailHint %}

  {{ govukInput({
    name: "email",
    id: "email",
    value: email,
    errorMessage: errors['email'],
    autocomplete: "email",
    label: {
      text: pageHeading,
      isPageHeading: isQuestionPage,
      classes: "govuk-label--xl"
    },
    hint: emailHint,
    attributes: {
      spellcheck: "false"
    }
  }) }}
