{% from "radios/macro.njk" import govukRadios %}

{% set viewData = params.viewData %}
{% set pageHeading = params.pageHeading %}
{% set isQuestionPage = params.isQuestionPage %}
{% set errors = params.errors %}
{% set fieldname = params.fieldname %}

  {{ govukRadios({
    idPrefix: fieldname,
    name: fieldname,
    hint: viewData.hint,
    fieldset: {
      legend: {
        text: pageHeading,
        isPageHeading: isQuestionPage,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    errorMessage: errors[fieldname],
    items: viewData.items
  }) }}
