{% from "input/macro.njk" import govukInput %}

{% set errors = params.errors %}
{% set fullname = params.fullname %}
{% set fullnameLabel = params.fullnameLabel %}

  {{ govukInput({
    name: "full-name",
    id: "full-name",
    value: fullname,
    errorMessage: errors['full-name'],
    autocomplete: "name",
    label: {
      text: fullnameLabel
    },
    attributes: {
      spellcheck: "false"
    }
  }) }}
